.header-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
}

.close-button{
    max-width:30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 1px;
    margin: auto;
    background-color: rgb(248, 247, 247);
    transition: 0.2s;
}
.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.bar:nth-child(2){
    transform: translateY(-8px) rotate(-45deg);
}